<html>
	<head>
		<title>Edit Landmark</title>
	</head>
	<body>
			<form class="" action="/edit/:id" method="post">
				<ul>
					<li>Landmark Name:<input type="text" name="landmark[name]" value=""></li>
					<li>Year Completed: <input type="text" name="landmark[year_completed]" value=""></li>
					<br>
					<input type="submit" name="edit">
				</ul>
			</form>
	</body>
</html>
