<html>
	<head>
		<title>New Landmark</title>
	</head>
	<body>
		<form action="/new" method="post">
<li>Landmark Name:<input type="text" name="landmark[name]" value=""></li>
<li>Year Completed: <input type="text" name="landmark[year_completed]" value=""></li>
<input type="submit" value="Submit">
</form>

	</body>
</html>
