<table>
  <tr>
    <th>Name </th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>
  <td>Edit this landmark <a href="/edit/<%= @landmark.id %>"><button name="edit">Edit</button></a></td>
