<html>
	<head>
		<title>Landmarks</title>
	</head>
	<body>
		<h1>Welcome To Landmark Page</h1>
		<h3>Please click this button to continue to view all landmarks collection <a href="/landmarks">click here</a></h3>
		<h3>Or click here to create a new landmark! <a href="/new">new landmark</a></h3>
		<h4>Thank You For Visiting Us!</h4>
	</body>
</html>
